{% extends "layout.html" %}

{% block title %}
	Your Account
{% endblock title %}


{% block content %}

	<script>
		$(document).ready(function(){
  		 	$(".active").removeClass("active");
  		 	$("#account").addClass("active");
		});
	</script>
	<style>



		 .cover {

		     background-size: cover;
		     background-repeat: no-repeat
		 }

	</style>
<div class="row py-5 px-4">
    <div class="col-md-8 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
			<div class="row justify-content-center">
			  <button style="margin-top:30px;" type="button" data-toggle="modal" data-target="#exampleModalLong" class="btn btn-primary btn-lg">Make the Order</button>
			</div>

			<!-- Modal -->
			<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLongTitle">Your Order is:</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <form method="post" action="{{url_for('make_the_order')}}">
        			  <div class="form-group">
        			    <label for="recipient-name" class="col-form-label">Who is ordering today ?</label>
        			    <input type="text" name="wiot" value="{{wiot}}" class="form-control" id="recipient-name" readonly>
        			  </div>
						{% if non_rest %}
							<div class="form-group">
        			  		  <label for="recipient-name" class="col-form-label">Restaurant</label>
        			  		  <input type="text" value="To order you must add some restaurant" class="form-control" readonly>
        			  		</div>
						{% else %}
        			    	<div class="form-group">
  							  <label for="exampleFormControlSelect1">Restaurant</label>
  							  <select name="rest" class="form-control" id="exampleFormControlSelect1">
  							    {% for res in res %}
								  {% if res == next_rest %}
								  	<option selected value="{{res}}">{{res}}</option>
								  {% else %}
								  	<option value="{{res}}">{{res}}</option>
								  {% endif %}
								{% endfor %}
  							  </select>
  							</div>
						{% endif %}
						<div class="form-group ">
						  <label>Time</label>
				  		  <input style="width:70px;" name="time_of_order" type="time" value="{{ time_order }}" class="form-control">
				  		</div>
						<div class="form-group ">
						  <div style="padding-top:20px;padding-bottom:10px;">
							  <label style="font-size:18px;"><strong>Meals for participants:</strong></label>
						  </div>
						  <label>Meal for {{user.name}}:</label>
						  <input type="text" class="form-control" name="{{user.name}}_meal" placeholder="Meal" required>
						  {% for par in parti%}
							<label style="padding-top:10px;">Meal for {{par}}:</label>
							<input type="text" class="form-control" name="{{par}}_meal" placeholder="Meal" required>
						  {% endfor %}
				  		</div>
						<div class="modal-footer">
			      		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							{% if non_rest %}
							    <button type="button" class="btn btn-primary" disabled>Order</button>
							{% else %}
			      		  	<button type="submit" class="btn btn-primary">Order</button>
							{% endif %}
			      		</div>
        			</form>
			      </div>


			    </div>
			  </div>
			</div>


            <div class="px-4 py-3">
                <h5 class="mb-0">About</h5>
                <div class="p-4 rounded shadow-sm bg-light">
					<p class="font-italic mb-0"><strong>Your name:</strong> {{ user.name }}</p>
					<p class="font-italic mb-0"><strong>Your email address:</strong> {{ user.email }}</p>
                    <p class="font-italic mb-0"><strong>Your favorite restaurant:</strong> {{fav_restaurants}}</p>
					<p class="font-italic mb-0"><strong>Your favorite time to eat:</strong> {{fav_times}}</p>
                </div>
            </div>
			<h5 style="padding-left:20px;" class="mb-0">Time:</h5>

			<div class="card" style="margin:30px;">
			  <div class="card-body">

				<form class="form-inline" method="post" action="{{url_for("change_time")}}">
				  	<img style="height:25px;margin-top:4px;margin-right:10px;margin-left:5px;" src="{{url_for("static",filename="images/time_icon.png")}}">
					<label style="padding-right:10px;">From:</label>
				  <div class="form-group ">

				    <input name="time_from" type="time" value="{{ time[0] }}" class="form-control">
					<label style="padding-right:10px;padding-left:10px;">To:</label>
					<input name="time_to" type="time" value="{{ time[1] }}" class="form-control">
				  </div>
				  <button style="margin-left:10px;" type="submit" class="btn btn-primary">Set</button>
				</form>

			  </div>
			</div>
			<h5 style="padding-left:20px;" class="mb-0">Participants:</h5>

			<div class="card" style="margin:30px;">
			  <div class="card-body">
				  <img style="height:35px;margin-bottom:5px;margin-right:5px;" src="{{url_for("static",filename="images/user_icon.png")}}">
				  <strong>{{ user.name }}</strong>
				  <label class="font-italic mb-0">(admin)</label>
				  {% if non_order %}
				  	<label style="padding-left:3%;" class=" mb-0">Fav. meal: No data</label>
				  {% else %}
				  	<label style="padding-left:3%;" class=" mb-0">Fav. meal: {{ fav_meal[user.name] }}</label>
				  {% endif %}
			  </div>
			</div>
			{% for parti in parti %}
				<div class="card" style="margin:30px;">
				  <div class="card-body">
					  <img style="height:35px;margin-bottom:5px;margin-right:5px;" src="{{url_for("static",filename="images/user_icon.png")}}">
					  <strong>{{ parti }}</strong>
					  {% if non_order %}
					  	<label style="padding-left:3%;" class=" mb-0">Fav. meal: No data</label>
					  {% else %}
					  	<label style="padding-left:3%;" class=" mb-0">Fav. meal: {{ fav_meal[parti] }}</label>
					  {% endif %}
					  <a href="{{url_for("delete_parti",name=parti)}}" style="margin-right:10px" class="btn btn-danger btn-sm float-right">Delete</a>
				  </div>
				</div>
			{% endfor %}
			<div style="margin:30px;">
				<div class="collapse" id="collapseExample">
				  <div class="card card-body">
					  <strong style="padding-bottom:5px;font-size: 18px;">New participant:</strong>
				    <form class="form-inline needs-validation" method="post" style="margin-top:10px;" action="{{url_for("add_parti")}}">
					  <label style="padding-right:10px;padding-bottom:10px;">Name:</label>
					  <input name="name"  type="text" class="form-control mb-2 mr-sm-2" id="validationCustom01" placeholder="Name" required>
					  <button type="submit" class="btn btn-primary mb-2">Add</button>
					</form>
				  </div>
				</div>
				<p>

				  <button id="add-parti" style="margin-top:10px;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
				    + add participant
				  </button>
				</p>
			</div>

			<h5 style="padding-left:20px;padding-top:30px;" class="mb-0">Restaurants:</h5>

			{% for res in res %}
				<div class="card" style="margin:30px;">
				  <div class="card-body">
					  <img style="height:35px;" src="{{url_for("static",filename="images/res_icon2.jpg")}}">
					  <strong style="padding-left:10px;">{{ res }}</strong>
					  <a href="{{url_for("delete_rest",name=res)}}" style="margin-right:10px" class="btn btn-danger btn-sm float-right">Delete</a>
				  </div>
				</div>
			{% endfor %}
			<div style="margin:30px;">
				<div class="collapse" id="collapseExample2">
				  <div class="card card-body">
					  <strong style="padding-bottom:5px;font-size: 18px;">New restaurant:</strong>
				    <form class="form-inline needs-validation" method="post" style="margin-top:10px;" action="{{url_for("add_rest")}}">
					  <label style="padding-right:10px;padding-bottom:10px;">Name:</label>
					  <input name="name-res"  type="text" class="form-control mb-2 mr-sm-2" placeholder="Restaurant" required>
					  <button type="submit" class="btn btn-primary mb-2">Add</button>
					</form>
				  </div>
				</div>
				<p>

				  <button id="add-rest" style="margin-top:10px;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
				    + add restaurant
				  </button>
				</p>
			</div>

			<div style="padding-top:30px;margin-left:-20px;margin:30px;padding-bottom:100px;">
				<h5 style="padding-bottom:20px;" class="mb-0">Your past orders:</h5>
				{% if non_order %}
				<p style="padding-left:20px;"><strong>no data yet</strong></p>
				{% else %}
					<table class="table">
					  <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">Who ordered</th>
					      <th scope="col">Restaurant</th>
					      <th scope="col">Time</th>
					    </tr>
					  </thead>
					  <tbody>
					  	{% for order in ord %}
					    	<tr>
					    	  <th scope="row">{{loop.index}}</th>
					    	  <td>{{order.name}}</td>
					    	  <td>{{order.restaurant}}</td>
					    	  <td>{{order.time}}</td>
					    	</tr>

					    {% endfor %}

					  </tbody>
					</table>
				{% endif %}
			</div>



        </div>
    </div>
</div>

<script>
	$(document).ready(function(){
	 $('#add-parti').on('click', function () {
	  var text=$('#add-parti').text();
	  if(text === "- add participant"){
	    $(this).html('+ add participant');
	  } else{
	    $(this).text('- add participant');
	 }
	});
	});
	$(document).ready(function(){
	 $('#add-rest').on('click', function () {
	  var text=$('#add-rest').text();
	  if(text === "- add restaurant"){
	    $(this).html('+ add restaurant');
	  } else{
	    $(this).text('- add restaurant');
	 }
	});
	});
</script>
{% endblock content %}